Node-RED/flows.json
[{"id":"a947ed15.27ec4","type":"tab","label":"R038-S1","disabled":false,"info":""},{"id":"61ea9149.55821","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/temperature1","topic":"sensor1/temperature1","qos":"2","broker":"86d3dd4f.16976","x":240,"y":80,"wires":[["6a1b4891.bc84e8","32a2ede4.5ef3d2"]]},{"id":"6a1b4891.bc84e8","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":80,"wires":[]},{"id":"c5fc5d9c.5506e","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/humidity1","topic":"sensor1/humidity1","qos":"2","broker":"86d3dd4f.16976","x":230,"y":280,"wires":[["309acd8a.14e7a2","fd2194e3.6433a8"]]},{"id":"31c42b3d.150fb4","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/drewpoint1","topic":"sensor1/drewpoint1","qos":"2","broker":"86d3dd4f.16976","x":230,"y":480,"wires":[["7d59d2f8.910ffc","be3395e8.232538"]]},{"id":"309acd8a.14e7a2","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"7d59d2f8.910ffc","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":480,"wires":[]},{"id":"be3395e8.232538","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"4362989b.944d28","name":"SensorDB","measurement":"drewpoint1","precision":"","retentionPolicy":"","x":570,"y":540,"wires":[]},{"id":"32a2ede4.5ef3d2","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"4362989b.944d28","name":"SensorDB","measurement":"temperature1","precision":"","retentionPolicy":"","x":570,"y":140,"wires":[]},{"id":"fd2194e3.6433a8","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"4362989b.944d28","name":"SensorDB","measurement":"humidity1","precision":"","retentionPolicy":"","x":570,"y":340,"wires":[]},{"id":"dab6722a.90233","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/pressure1","topic":"sensor1/pressure1","qos":"2","broker":"86d3dd4f.16976","x":230,"y":620,"wires":[["2f33f012.18d65","37765386.afe08c"]]},{"id":"2f33f012.18d65","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":620,"wires":[]},{"id":"37765386.afe08c","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"4362989b.944d28","name":"SensorDB","measurement":"pressure1","precision":"","retentionPolicy":"","x":570,"y":680,"wires":[]},{"id":"a01b2571.1cfa68","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/voltage1","topic":"sensor1/voltage1","qos":"2","broker":"86d3dd4f.16976","x":220,"y":760,"wires":[["d3b6a289.e3892","a50df9ad.9b8168"]]},{"id":"d3b6a289.e3892","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":760,"wires":[]},{"id":"a50df9ad.9b8168","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"4362989b.944d28","name":"SensorDB","measurement":"voltage1","precision":"","retentionPolicy":"","x":570,"y":820,"wires":[]},{"id":"eef75330.a96f7","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/rssi1","topic":"sensor1/rssi1","qos":"2","broker":"86d3dd4f.16976","x":210,"y":900,"wires":[["da420723.96cee8","ed3aa75.bef4658"]]},{"id":"da420723.96cee8","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":900,"wires":[]},{"id":"ed3aa75.bef4658","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"4362989b.944d28","name":"SensorDB","measurement":"rssi1","precision":"","retentionPolicy":"","x":570,"y":960,"wires":[]},{"id":"b45995ed.f77308","type":"e-mail","z":"a947ed15.27ec4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Alert Email","x":930,"y":200,"wires":[]},{"id":"4d611aba.f6d864","type":"function","z":"a947ed15.27ec4","name":"Email message funktion","func":"context.previousTemp = context.previousTemp || 0;\nvar temp = msg.payload;\n\nvar upperThreshold = 24;\nvar lowerThreshold = 21;\n\n// Check if the new temp is different from the previous\nif (context.previousTemp != temp){\n\tif ( temp >= upperThreshold){\n\t\tmsg.payload = \"It's too hot! Current temperature is \" + String(temp) + \"째C\";\n\t\treturn msg;\n\t}\n\telse if ( temp <= lowerThreshold){\n\t\tmsg.payload = \"It's too cold! Current temperature is \" + String(temp) + \"째C\";\n\t\treturn msg;\n\t}\n}\n","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["b45995ed.f77308","edcd9c29.fd124"]]},{"id":"edcd9c29.fd124","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":80,"wires":[]},{"id":"52a843d9.9faa8c","type":"e-mail","z":"a947ed15.27ec4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Alert Email","x":930,"y":400,"wires":[]},{"id":"54cb88ab.a9f928","type":"function","z":"a947ed15.27ec4","name":"Email message funktion","func":"context.previousTemp = context.previousTemp || 0;\nvar temp = msg.payload;\n\nvar upperThreshold = 24;\nvar lowerThreshold = 21;\n\n// Check if the new temp is different from the previous\nif (context.previousTemp != temp){\n\tif ( temp >= upperThreshold){\n\t\tmsg.payload = \"It's too hot! Current temperature is \" + String(temp) + \"째C\";\n\t\treturn msg;\n\t}\n\telse if ( temp <= lowerThreshold){\n\t\tmsg.payload = \"It's too cold! Current temperature is \" + String(temp) + \"째C\";\n\t\treturn msg;\n\t}\n}\n","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["52a843d9.9faa8c","e43667c4.c728b8"]]},{"id":"e43667c4.c728b8","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":280,"wires":[]},{"id":"f4bd6cd7.57963","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor2/rawpressure2","topic":"sensor2/rawpressure2","qos":"2","datatype":"auto","broker":"5c822bd8.3504a4","x":240,"y":1040,"wires":[["91b71284.0abfc"]]},{"id":"4fc876a0.79d638","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/rawpressure1","topic":"sensor1/rawpressure1","qos":"2","datatype":"auto","broker":"86d3dd4f.16976","x":240,"y":1100,"wires":[["ea927e62.a88fe"]]},{"id":"711ec662.aa8888","type":"combine-delta","z":"a947ed15.27ec4","topic":"differenzdruck","topicA":"sensor1/rawpressure1","topicB":"sensor2/rawpressure2","name":"Differenzdruck","x":580,"y":1100,"wires":[["39a20280.d45a2e","eede237c.198ac"]]},{"id":"39a20280.d45a2e","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":1040,"wires":[]},{"id":"eede237c.198ac","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"607d56cf.b290d8","name":"Differenzdruck","measurement":"deltapresure","precision":"","retentionPolicy":"","x":940,"y":1100,"wires":[]},{"id":"91b71284.0abfc","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":1040,"wires":[]},{"id":"8242370f.5fb8c8","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/in1","topic":"sensor1/in1","qos":"2","datatype":"auto","broker":"10427676.24f73a","x":210,"y":1240,"wires":[["c61c18a2.9798c8","a98705dc.0889c8"]]},{"id":"c61c18a2.9798c8","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":1240,"wires":[]},{"id":"a98705dc.0889c8","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"1570be65.8ebb32","name":"SensorDB","measurement":"in1","precision":"","retentionPolicy":"","x":570,"y":1300,"wires":[]},{"id":"b27bffbc.0f2e4","type":"mqtt in","z":"a947ed15.27ec4","name":"sensor1/out1","topic":"sensor1/out1","qos":"2","datatype":"auto","broker":"10427676.24f73a","x":210,"y":1380,"wires":[["cdf2b9ac.4ea978","8b434dea.0924c"]]},{"id":"cdf2b9ac.4ea978","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":1380,"wires":[]},{"id":"8b434dea.0924c","type":"influxdb out","z":"a947ed15.27ec4","influxdb":"1570be65.8ebb32","name":"SensorDB","measurement":"out2","precision":"","retentionPolicy":"","x":570,"y":1440,"wires":[]},{"id":"ea927e62.a88fe","type":"debug","z":"a947ed15.27ec4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":1160,"wires":[]},{"id":"86d3dd4f.16976","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4362989b.944d28","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SensorDB","name":"SensorDB","usetls":false,"tls":""},{"id":"5c822bd8.3504a4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"607d56cf.b290d8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SensorDB","name":"SensorDB","usetls":false,"tls":""},{"id":"10427676.24f73a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1570be65.8ebb32","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SensorDB","name":"SensorDB","usetls":false,"tls":""}]